<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="port" value="8765"/>
    <add key="address" value="net.tcp://localhost:8765/TetriNET"/>
    <!--<add key="address" value="auto"/>-->
  </appSettings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <client />
    <services>
      <service name="POC.JQuery_WCF.Service1" behaviorConfiguration="POC.JQuery_WCF.Service1Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Service1/"   />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <!--<endpoint address="net.tcp://localhost:9000/myservice" binding="netTcpBinding" contract="POC.IService1" />-->
        <endpoint 
          address="" 
          binding="webHttpBinding" 
          bindingConfiguration="webHttpBindingWithJsonP"
          contract="POC.JQuery_WCF.IService1" 
          behaviorConfiguration="webHttpBehavior"/>
        <!--<endpoint address=""  binding="wsHttpBinding" contract="POC.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="POC.JQuery_WCF.Service1Behavior">
          <!-- To avoid disclosing metadata information,
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes,
          set the value below to true.  Set to false before deployment
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>