<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>
    <add key="port" value="8765"/>
    <!--<add key="port" value="auto"/>-->
    <add key="logpath" value="D:\temp\log\"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="TetriNET.Server.WCFHost.WCFHost+WCFServiceHost">
        <endpoint kind="udpDiscoveryEndpoint"/>
        <!--<endpoint
           kind = "mexEndpoint"
           address = "MEX"
           binding = "mexTcpBinding"
            />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
