<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="IPFilter" type="IPFiltering.Configuration.IPFilterConfiguration,IPFilter"/>
  </configSections>

  <appSettings>
    <add key="port" value="8765"/>
    <!--<add key="port" value="auto"/>-->
  </appSettings>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <IPFilter>
    <HttpModule FilterName="Default"/>
    <Filters>
      <add Name="Default" DefaultBehavior="Deny">
        <deny hosts="192.168.11.12,192.168.1.*"/>
        <allow hosts="192.168.0.0/16"/>
        <deny hosts="*"/>
      </add>

      <!-- A filter than only allows traffic from local network -->
      <add Name="LocalOnly">
        <allow hosts="10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.1/8"/>
        <deny hosts="*"/>
      </add>

      <!-- A filter than denies traffic from local network -->
      <add Name="DenyLocal">
        <deny hosts="10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.1/8"/>
        <allow hosts="*"/>
      </add>

      <!-- A filter than only allows traffic from loopback -->
      <add Name="LoopbackOnly">
        <allow hosts="127.0.0.1/8"/>
        <deny hosts="*"/>
      </add>

      <!-- A filter than denies traffic from loopback -->
      <add Name="DenyLoopback">
        <deny hosts="127.0.0.1/8"/>
        <allow hosts="*"/>
      </add>
    </Filters>
  </IPFilter>

  <system.serviceModel>
    <services>
      <service name="TetriNET.Server.Host.WCFHost+WCFServiceHost">
        <endpoint kind="udpDiscoveryEndpoint"/>
        <!--<endpoint
           kind = "mexEndpoint"
           address = "MEX"
           binding = "mexTcpBinding"
            />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
